<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mkarman.bloodbank">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Indian Blood Donors"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".Search" />
        <activity android:name=".LogInAcitivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".MyAccountActivity" />
        <activity android:name=".EditePassword" />
        <activity android:name=".UserRegistrationInformation" />
        <activity android:name=".RaiseRequest" />
        <activity android:name=".ViewRequests" />
        <activity android:name=".AboutApp"></activity>
    </application>

</manifest>